In [33]:
import pandas as pd
df = pd.read_csv('Data Technology Class/TEDA2051_Capstone_Project/UMEA_Scors/umea_all_recaps.csv')

In [34]:
df.head

<bound method NDFrame.head of      performance_id          school              city/state  \
0                 0    Green Canyon         North Logan, UT
1                 1  Maple Mountain        Spanish Fork, UT
2                 2            Alta               Sandy, UT
3                 3     Salem Hills               Salem, UT
4                 4        Viewmont           Bountiful, UT
..              ...             ...                     ...
992             992        Brighton  Cottonwood Heights, UT
993             993    Copper Hills         West Jordan, UT
994             994           Delta               Delta, UT
995             995          Carbon               Price, UT
996             996     Canyon View          Cedar City, UT

     MusEns_Musc_score  MusEns_Musc_rank  MusEns_Tech_score  MusEns_Tech_rank  \
0                 93.0                 1               92.0                 1
1                 91.0                 2               90.0                 2
2                 88.0                 3               86.0                 3
3                 78.0                 4               77.0                 4
4                 74.0                 5               73.0                 5
..                 ...               ...                ...               ...
992               79.0                 3               77.0                 3
993               76.0                 5               74.0                 5
994               65.0                 1               63.0                 1
995               63.0                 2               58.0                 3
996               60.0                 3               59.0                 2

     MusEns_*Tot_score  MusEns_*Tot_rank  MusEff_Rep_score  ...   Total  Rank  \
0               25.438                 1              94.0  ...  91.650     1
1               24.888                 2              90.0  ...  87.975     2
2               23.925                 3              87.0  ...  87.813     3
3               21.313                 4              76.0  ...  79.238     4
4               20.213                 5              75.0  ...  74.600     5
..                 ...               ...               ...  ...     ...   ...
992             21.450                 3              72.0  ...  74.038     4
993             20.625                 5              71.0  ...  72.450     5
994             17.600                 1              64.0  ...  59.263     1
995             16.638                 2              65.0  ...  58.656     2
996             16.363                 3              62.0  ...  56.725     3

                               round_guid  \
0    005b6bd8-7bd2-43f5-adc0-e87bd2dd4639
1    005b6bd8-7bd2-43f5-adc0-e87bd2dd4639
2    005b6bd8-7bd2-43f5-adc0-e87bd2dd4639
3    005b6bd8-7bd2-43f5-adc0-e87bd2dd4639
4    005b6bd8-7bd2-43f5-adc0-e87bd2dd4639
..                                    ...
992  fad599e3-393b-413c-879e-c3f708aae86c
993  fad599e3-393b-413c-879e-c3f708aae86c
994  fadcfa37-1a21-49dd-a8c1-4c6f0ae63ffe
995  fadcfa37-1a21-49dd-a8c1-4c6f0ae63ffe
996  fadcfa37-1a21-49dd-a8c1-4c6f0ae63ffe

                                            source_url  season_name  \
0    https://recaps.competitionsuite.com/005b6bd8-7...    UMEA 2025
1    https://recaps.competitionsuite.com/005b6bd8-7...    UMEA 2025
2    https://recaps.competitionsuite.com/005b6bd8-7...    UMEA 2025
3    https://recaps.competitionsuite.com/005b6bd8-7...    UMEA 2025
4    https://recaps.competitionsuite.com/005b6bd8-7...    UMEA 2025
..                                                 ...          ...
992  https://recaps.competitionsuite.com/fad599e3-3...    UMEA 2025
993  https://recaps.competitionsuite.com/fad599e3-3...    UMEA 2025
994  https://recaps.competitionsuite.com/fadcfa37-1...    UMEA 2023
995  https://recaps.competitionsuite.com/fadcfa37-1...    UMEA 2023
996  https://recaps.competitionsuite.com/fadcfa37-1...    UMEA 2023

                         performance_guid               competition_name  \
0    3312c14e-a591-4849-a316-c2757ff24964         Davis Cup Invitational
1    3312c14e-a591-4849-a316-c2757ff24964         Davis Cup Invitational
2    3312c14e-a591-4849-a316-c2757ff24964         Davis Cup Invitational
3    3312c14e-a591-4849-a316-c2757ff24964         Davis Cup Invitational
4    3312c14e-a591-4849-a316-c2757ff24964         Davis Cup Invitational
..                                    ...                            ...
992  a3aa8569-e558-443f-87b7-8ffd573c6aad  Bridgerland Band Invitational
993  a3aa8569-e558-443f-87b7-8ffd573c6aad  Bridgerland Band Invitational
994  bc812f87-e60f-4b3e-9519-240c739037d9       Nebo Tournament of Bands
995  bc812f87-e60f-4b3e-9519-240c739037d9       Nebo Tournament of Bands
996  bc812f87-e60f-4b3e-9519-240c739037d9       Nebo Tournament of Bands

        competition_date               competition_location  division_name
0    2025-11-01T00:00:00  Davis High School (Kaysville, UT)        5A Open
1    2025-11-01T00:00:00  Davis High School (Kaysville, UT)        5A Open
2    2025-11-01T00:00:00  Davis High School (Kaysville, UT)        5A Open
3    2025-11-01T00:00:00  Davis High School (Kaysville, UT)        5A Open
4    2025-11-01T00:00:00  Davis High School (Kaysville, UT)        5A Open
..                   ...                                ...            ...
992  2025-10-04T00:00:00    USU Maverik Stadium (Logan, UT)  6A Scholastic
993  2025-10-04T00:00:00    USU Maverik Stadium (Logan, UT)  6A Scholastic
994  2023-09-16T00:00:00    Payson High School (Payson, UT)             3A
995  2023-09-16T00:00:00    Payson High School (Payson, UT)             3A
996  2023-09-16T00:00:00    Payson High School (Payson, UT)             3A

[997 rows x 63 columns]>

In [35]:
unique_guids = df['round_guid'].nunique()
print(unique_guids)

190

In [4]:
df.columns.tolist()

['Unnamed: 0',
 'school',
 'city/state',
 'MusEns_Musc_score',
 'MusEns_Musc_rank',
 'MusEns_Tech_score',
 'MusEns_Tech_rank',
 'MusEns_*Tot_score',
 'MusEns_*Tot_rank',
 'MusEff_Rep_score',
 'MusEff_Rep_rank',
 'MusEff_Perf_score',
 'MusEff_Perf_rank',
 'MusEff_*Tot_score',
 'MusEff_*Tot_rank',
 'Music_Total',
 'Music_Rank',
 'VisEns_Comp_score',
 'VisEns_Comp_rank',
 'VisEns_Achv_score',
 'VisEns_Achv_rank',
 'VisEns_*Tot_score',
 'VisEns_*Tot_rank',
 'VisEff_Rep_score',
 'VisEff_Rep_rank',
 'VisEff_Perf_score',
 'VisEff_Perf_rank',
 'VisEff_*Tot_score',
 'VisEff_*Tot_rank',
 'Visual_Total',
 'Visual_Rank',
 'Per_Comp_score',
 'Per_Comp_rank',
 'Per_Perf_score',
 'Per_Perf_rank',
 'Per_*Tot_score',
 'Per_*Tot_rank',
 'Percussion_Total',
 'Percussion_Rank',
 'ColGua_Voc_score',
 'ColGua_Voc_rank',
 'ColGua_Ach_score',
 'ColGua_Ach_rank',
 'ColGua_*Tot_score',
 'ColGua_*Tot_rank',
 'Color Guard_Total',
 'Color Guard_Rank',
 'SubTotal',
 'SubTotal_Rank',
 'Penalties',
 'SPACER',
 'Penalties_Total',
 'SPACER.1',
 'Total',
 'Rank',
 'round_guid',
 'source_url',
 'season_name',
 'competition_name',
 'competition_date',
 'competition_location',
 'division_name']

In [10]:
column_list = ['MusEns_Musc_score',
 'MusEns_Musc_rank',
 'MusEns_Tech_score',
 'MusEns_Tech_rank',
 'MusEns_*Tot_score',
 'MusEns_*Tot_rank',
 'MusEff_Rep_score',
 'MusEff_Rep_rank',
 'MusEff_Perf_score',
 'MusEff_Perf_rank',
 'MusEff_*Tot_score',
 'MusEff_*Tot_rank',
 'Music_Total',
 'Music_Rank',
 'VisEns_Comp_score',
 'VisEns_Comp_rank',
 'VisEns_Achv_score',
 'VisEns_Achv_rank',
 'VisEns_*Tot_score',
 'VisEns_*Tot_rank',
 'VisEff_Rep_score',
 'VisEff_Rep_rank',
 'VisEff_Perf_score',
 'VisEff_Perf_rank',
 'VisEff_*Tot_score',
 'VisEff_*Tot_rank',
 'Visual_Total',
 'Visual_Rank',
 'Per_Comp_score',
 'Per_Comp_rank',
 'Per_Perf_score',
 'Per_Perf_rank',
 'Per_*Tot_score',
 'Per_*Tot_rank',
 'Percussion_Total',
 'Percussion_Rank',
 'ColGua_Voc_score',
 'ColGua_Voc_rank',
 'ColGua_Ach_score',
 'ColGua_Ach_rank',
 'ColGua_*Tot_score',
 'ColGua_*Tot_rank',
 'Color Guard_Total',
 'Color Guard_Rank',
 'SubTotal',
 'SubTotal_Rank',
 'Penalties',
 'Penalties_Total',
 'Total',
 'Rank']

In [6]:
column_list = ['MusEns_Musc_score', 'MusEns_Musc_rank', 'MusEns_Tech_score', 'MusEns_Tech_rank', 'MusEns_*Tot_score', 'MusEns_*Tot_rank', 'MusEff_Rep_score', 'MusEff_Rep_rank', 'MusEff_Perf_score', 'MusEff_Perf_rank', 'MusEff_*Tot_score', 'MusEff_*Tot_rank', 'Music_Total', 'Music_Rank', 'VisEns_Comp_score', 'VisEns_Comp_rank', 'VisEns_Achv_score', 'VisEns_Achv_rank', 'VisEns_*Tot_score', 'VisEns_*Tot_rank', 'VisEff_Rep_score', 'VisEff_Rep_rank', 'VisEff_Perf_score', 'VisEff_Perf_rank', 'VisEff_*Tot_score', 'VisEff_*Tot_rank', 'Visual_Total', 'Visual_Rank', 'Per_Comp_score', 'Per_Comp_rank', 'Per_Perf_score', 'Per_Perf_rank', 'Per_*Tot_score', 'Per_*Tot_rank', 'Percussion_Total', 'Percussion_Rank', 'ColGua_Voc_score', 'ColGua_Voc_rank', 'ColGua_Ach_score', 'ColGua_Ach_rank', 'ColGua_*Tot_score', 'ColGua_*Tot_rank', 'Color Guard_Total', 'Color Guard_Rank', 'SubTotal', 'SubTotal_Rank', 'Penalties', 'Penalties_Total', 'Total', 'Rank']

In [25]:
print(column_list)

['MusEns_Musc_score', 'MusEns_Musc_rank', 'MusEns_Tech_score', 'MusEns_Tech_rank', 'MusEns_*Tot_score', 'MusEns_*Tot_rank', 'MusEff_Rep_score', 'MusEff_Rep_rank', 'MusEff_Perf_score', 'MusEff_Perf_rank', 'MusEff_*Tot_score', 'MusEff_*Tot_rank', 'Music_Total', 'Music_Rank', 'VisEns_Comp_score', 'VisEns_Comp_rank', 'VisEns_Achv_score', 'VisEns_Achv_rank', 'VisEns_*Tot_score', 'VisEns_*Tot_rank', 'VisEff_Rep_score', 'VisEff_Rep_rank', 'VisEff_Perf_score', 'VisEff_Perf_rank', 'VisEff_*Tot_score', 'VisEff_*Tot_rank', 'Visual_Total', 'Visual_Rank', 'Per_Comp_score', 'Per_Comp_rank', 'Per_Perf_score', 'Per_Perf_rank', 'Per_*Tot_score', 'Per_*Tot_rank', 'Percussion_Total', 'Percussion_Rank', 'ColGua_Voc_score', 'ColGua_Voc_rank', 'ColGua_Ach_score', 'ColGua_Ach_rank', 'ColGua_*Tot_score', 'ColGua_*Tot_rank', 'Color Guard_Total', 'Color Guard_Rank', 'SubTotal', 'SubTotal_Rank', 'Penalties', 'Penalties_Total', 'Total', 'Rank']

In [37]:
   df_long = pd.melt(df,
        id_vars='performance_id',
        value_vars=column_list,
        var_name='name',
        value_name='value')

In [38]:
print("\nUnpivoted DataFrame (Long Format):")
print(df_long)

Unpivoted DataFrame (Long Format):
       performance_id               name  value
0                   0  MusEns_Musc_score   93.0
1                   1  MusEns_Musc_score   91.0
2                   2  MusEns_Musc_score   88.0
3                   3  MusEns_Musc_score   78.0
4                   4  MusEns_Musc_score   74.0
...               ...                ...    ...
49845             992               Rank    4.0
49846             993               Rank    5.0
49847             994               Rank    1.0
49848             995               Rank    2.0
49849             996               Rank    3.0

[49850 rows x 3 columns]

In [39]:
df_long.to_csv(f'Data Technology Class/TEDA2051_Capstone_Project/UMEA_Scors/umea_all_recaps_unpivoted.csv', index=True)

In [45]:
df_long.describe()

       performance_id         value
count    49850.000000  49816.000000
mean       498.000000     25.086428
std        287.811851     31.044364
min          0.000000     -0.900000
25%        249.000000      3.000000
50%        498.000000      5.000000
75%        747.000000     59.000000
max        996.000000     98.000000

In [46]:
df_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49850 entries, 0 to 49849
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   performance_id  49850 non-null  int64
 1   name            49850 non-null  object
 2   value           49816 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 63 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   performance_id        997 non-null    int64
 1   school                997 non-null    object
 2   city/state            997 non-null    object
 3   MusEns_Musc_score     997 non-null    float64
 4   MusEns_Musc_rank      997 non-null    int64
 5   MusEns_Tech_score     997 non-null    float64
 6   MusEns_Tech_rank      997 non-null    int64
 7   MusEns_*Tot_score     997 non-null    float64
 8   MusEns_*Tot_rank      997 non-null    int64
 9   MusEff_Rep_score      997 non-null    float64
 10  MusEff_Rep_rank       997 non-null    int64
 11  MusEff_Perf_score     997 non-null    float64
 12  MusEff_Perf_rank      997 non-null    int64
 13  MusEff_*Tot_score     997 non-null    float64
 14  MusEff_*Tot_rank      997 non-null    int64
 15  Music_Total           997 non-null    float64
 16  Music_Rank            997 non-null    int64
 17  VisEns_Comp_score     997 non-null    float64
 18  VisEns_Comp_rank      997 non-null    int64
 19  VisEns_Achv_score     997 non-null    float64
 20  VisEns_Achv_rank      997 non-null    int64
 21  VisEns_*Tot_score     997 non-null    float64
 22  VisEns_*Tot_rank      997 non-null    int64
 23  VisEff_Rep_score      997 non-null    float64
 24  VisEff_Rep_rank       997 non-null    int64
 25  VisEff_Perf_score     997 non-null    float64
 26  VisEff_Perf_rank      997 non-null    int64
 27  VisEff_*Tot_score     997 non-null    float64
 28  VisEff_*Tot_rank      997 non-null    int64
 29  Visual_Total          997 non-null    float64
 30  Visual_Rank           997 non-null    int64
 31  Per_Comp_score        997 non-null    float64
 32  Per_Comp_rank         997 non-null    int64
 33  Per_Perf_score        997 non-null    float64
 34  Per_Perf_rank         997 non-null    int64
 35  Per_*Tot_score        997 non-null    float64
 36  Per_*Tot_rank         997 non-null    int64
 37  Percussion_Total      997 non-null    float64
 38  Percussion_Rank       997 non-null    int64
 39  ColGua_Voc_score      997 non-null    float64
 40  ColGua_Voc_rank       997 non-null    int64
 41  ColGua_Ach_score      997 non-null    float64
 42  ColGua_Ach_rank       997 non-null    int64
 43  ColGua_*Tot_score     997 non-null    float64
 44  ColGua_*Tot_rank      997 non-null    int64
 45  Color Guard_Total     997 non-null    float64
 46  Color Guard_Rank      997 non-null    int64
 47  SubTotal              997 non-null    float64
 48  SubTotal_Rank         997 non-null    int64
 49  Penalties             963 non-null    float64
 50  SPACER                0 non-null      float64
 51  Penalties_Total       997 non-null    float64
 52  SPACER.1              0 non-null      float64
 53  Total                 997 non-null    float64
 54  Rank                  997 non-null    int64
 55  round_guid            997 non-null    object
 56  source_url            997 non-null    object
 57  season_name           997 non-null    object
 58  performance_guid      997 non-null    object
 59  competition_name      997 non-null    object
 60  competition_date      997 non-null    object
 61  competition_location  997 non-null    object
 62  division_name         997 non-null    object
dtypes: float64(28), int64(25), object(10)
memory usage: 490.8+ KB

In [63]:
df_dropped = df.drop(columns=column_list)

In [64]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   performance_id        997 non-null    int64
 1   school                997 non-null    object
 2   city/state            997 non-null    object
 3   SPACER                0 non-null      float64
 4   SPACER.1              0 non-null      float64
 5   round_guid            997 non-null    object
 6   source_url            997 non-null    object
 7   season_name           997 non-null    object
 8   performance_guid      997 non-null    object
 9   competition_name      997 non-null    object
 10  competition_date      997 non-null    object
 11  competition_location  997 non-null    object
 12  division_name         997 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 101.4+ KB

In [65]:
df_dropped = df_dropped.drop(columns=['SPACER', 'SPACER.1'])

In [66]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   performance_id        997 non-null    int64
 1   school                997 non-null    object
 2   city/state            997 non-null    object
 3   round_guid            997 non-null    object
 4   source_url            997 non-null    object
 5   season_name           997 non-null    object
 6   performance_guid      997 non-null    object
 7   competition_name      997 non-null    object
 8   competition_date      997 non-null    object
 9   competition_location  997 non-null    object
 10  division_name         997 non-null    object
dtypes: int64(1), object(10)
memory usage: 85.8+ KB